*{
    padding: 0;
    margin: 0;
}

nav{
    background-color: rgb(161, 17, 218);
    height: 50px;
}

ul{
    display: flex;
    list-style: none;
    margin-top: 20px;
    padding: 15px;
}

a{
    text-decoration: none;
    color: white;
    margin: 30px;
}

a:hover{
    background-color: yellow;
    color: black;
}

input{
    margin-left: 300px;
}